input {
    width:75%;
}
 input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid green;
 }

 input[type=submit] {
     background-color: green;
     border: none;
     color: white;
     padding: 16px 32px;
     margin: 4px 2px;
     cursor: pointer;
 }

h1 {
     color: green;
     font-family: Arial, Helvetica, sans-serif;
 }

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: green;
    font-weight: 300;
}

@keyframes move-over {
    from {left: -100vw;}
    to {left:0vw;}
}

h2 {
    animation: move-over 3.75s;
    -webkit-animation: move-over 3.75s;
}

@keyframes zoomin {
    0% {transform: scale(1,1);}
    50% {transform: scale(1.2,1.2);}
    100% {transform:scale(1,1);}
}

.image-test {
    animation: zoomin 15s forwards;
}